.scroll-cta {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.scroll-cta:hover {
  color: black;
}

.line {
  width: 2px;
  height: 96px; /* Height of the line */
  transform: rotate(90deg);
  border-width: 0 3px 3px 0;
  border-style: solid;

  animation: bounceLine 1.5s infinite;
}

.scroll-cta:hover .line {
  border-color: black;
}

.scroll-cta .arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid;
  animation: bounceArrow 1.5s infinite;
}

.scroll-cta:hover .arrow {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid;
}

@keyframes bounceLine {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Bounce upwards */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

@keyframes bounceArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Bounce upwards */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-in-out forwards;
}

/* Landing page */

.fadeIn.anim-1 {
  animation-delay: 1s; /* Delay for the first element */
}

.fadeIn.anim-2 {
  animation-delay: 2.5s; /* Delay for the second element */
}

.fadeIn.home {
  animation-delay: 0.5s;
}

/* Home page */

.fadeIn.home1 {
  animation-delay: 0.5s;
}

.fadeIn.home2 {
  animation-delay: 1.5s;
}

.fadeIn.home2-1 {
  animation-delay: 2.5s;
}

.fadeIn.home3 {
  animation-delay: 4s;
}

.fadeIn.home4 {
  animation-delay: 5s;
}

.fadeIn.home5 {
  animation-delay: 6s;
}

.fadeIn.home6 {
  animation-delay: 7s;
}

.fadeIn.pic {
  animation-delay: 3s;
}
