/*
from https://fonts.google.com/selection/embed
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  min-height: 100vh;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

@layer utilities {
  .text-balance {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Space Mono", monospace;
  background-color: rgb(70, 130, 180);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.light-mode {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  display: none;
}

body.show {
  display: block;
}

.wrap {
  display: grid;
  align-items: center;
  justify-items:center ;
  gap:2%;
  padding:10%;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  gap: 2%;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 2.25rem;
  padding-bottom: 4%;
}

.text {
  text-align: left;
}

.link{
  font-style: italic;
  margin: 1%;
}
.link:hover {
  font-weight: bolder;
}

/* Navbar styles */
.navbar_home {
  justify-content: left;
}
.navbar {
  display: flex;
  background-color: rgb(var(--background-start-rgb));
  padding: 1.5%;
  gap: 1%;
  width: 100%;
  justify-content:center;
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nbar_items{
  font-size: 1.25rem;
  margin-left: 20px;
}

.nbar_items:hover {
  font-weight:bolder;
}

.nbar_items.active {
  color:rgb(196, 31, 10);
  font-weight: bolder;
}


/* Footer styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  justify-content: start;
  padding: 1%;
  gap: 2%;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.f_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8%;
}

.f_items:hover{
  font-weight: bolder; 
}

/* Dropdown styles */
.dropdown_list {
  display: block;
  padding: 0.5rem 1rem; 
}


/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 1%;
    width: 100%;
    align-items: center;
  }
  
  .nbar_items {
    font-size: 1rem; 
    margin: 10px; 
  }
  .wrap {
    gap: 10%; 
  }

  .main {
    padding: 4%;
    flex-direction: column;
    gap: 4%;
  }
  
  .link {
    font-size: 0.75rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4%; 
    padding: 2%;
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  .f_items {
    gap: 10px;
    padding: 2%;
    font-size: 0.75rem;
  }

  .f_items:hover {
    font-weight: bolder;
  }
  .text { 
    font-size: 0.75rem;
  }
  .header{
    font-size: 1.5rem;
    padding-top: 20%;
  }
}






