/*
from https://fonts.google.com/selection/embed
*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  min-height: 100vh;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.blink {
  animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Space Mono", monospace;
  background-color: rgb(70, 130, 180);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  .portrait {
    border: 0.5px solid white;
  }
}

.light-mode {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  .button {
    background-color: black;
    color: white;
  }
}

body {
  display: none;
}

body.show {
  display: block;
}

wrap {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 2%;
  padding: 10%;
  padding-right: 2%;
  padding-left: 2%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
  gap: 2%;
  text-align: center;
}

header {
  text-align: center;
  font-size: 2.25rem;
  padding-bottom: 4%;
}

.button {
  padding: 1%;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: green;
  color: yellow;
}

.link {
  font-style: italic;
  margin: 1%;
}
.link:hover {
  font-weight: bolder;
}

.Image {
  border-radius: 50%;
  border: 4px solid black;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.portrait {
  border: 0.5px solid black;
  border-radius: 2%;
}

.row_col {
  display: flex;
  flex-direction: row;
  gap: 8%;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: left;
}

/* Mobile styles */
@media (max-width: 768px) {
  .wrap {
    gap: 2%;
  }

  .main {
    display: flex;
    padding: 4%;
    flex-direction: column;
    gap: 4%;
    align-items: center;
    text-align: center;
  }

  .row_col {
    flex-direction: column;
    gap: 8%;
    justify-content: center;
    padding-bottom: 2%;
  }

  .text {
    font-size: 0.75rem;
  }

  .link {
    font-size: 0.75rem;
  }

  .header {
    font-size: 1.5rem;
    padding-top: 1%;
  }

  ul {
    padding-left: 4%;
  }
  li {
    font-size: smaller;
  }
}
