.text {
  text-align: left;
}

/* Resume page styles */
.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  color: black;
  border: 10px solid rgb(70, 130, 180);
  border-radius: 10px;

  .pdf_title {
    font-size: 2rem;
    padding-bottom: 2%;
    color: #2596be;
  }

  code {
    color: black;
    background-color: slategray;
    padding: 0.5%;
  }

  .pdf_header {
    font-size: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #2596be;
    text-align: start;
    text-decoration: underline;
  }

  .pdf_div {
    margin-bottom: 2%;
  }

  h3 {
    font-size: 1rem;
    font-style: italic;
    text-align: start;
    padding-bottom: 1%;
    font-weight: bold;
  }
  .pdf_text {
    text-align: left;
    font-size: 0.85rem;
  }
  ul {
    padding-left: 2%;
  }
  li {
    margin-bottom: 2%;
  }
}

.light-mode {
  .pdf {
    background-color: white;
    color: black;
    border: 10px solid black;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 0.6rem;
  }

  .pdf {
    max-width: 100%;
    .pdf_title {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 0.7rem;
    }
    p {
      font-size: 0.55rem;
    }
    .link {
      font-size: 0.6rem;
    }
    .pdf_header {
      font-size: 0.8rem;
    }
    .pdf_div {
      margin-bottom: 8%;
    }
    ul {
      padding-left: 4%;
    }
    li {
      font-size: 0.6rem;
      margin-bottom: 4%;
    }
  }
}
